
{% block carousel %}
<div class="container-md">
  
    <div class="container col-md-8">
      <div id="image_carousel" class="carousel slide">
        <div class="carousel-indicators">
          {% for image in image_list %}
          <button type="button" data-bs-target="#image_carousel" data-bs-slide-to={{ loop.index0 }} {% if loop.index==1 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{loop.index}}"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for image in image_list %}
          <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
            <img src="{{ image.image_url }}"  class="d-block w-100" alt="Slide number {{ loop.index }}" >
            <div class="carousel-caption d-none d-md-block ">
              <p class="bs-light-border-subtle">Owner: {{ image.creator_name }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#image_carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#image_carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="false"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
{% endblock %}