{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Find a National Park and bookmark it!</h1>
</div>
<br>
  {% include 'carousel.html' %}
    <div class="mb-3">
        <form class="input-group bg-color-custom" method="post">
            <input placeholder="Search for a Park" class="form-control" type="text" id="search_query" name="search_query">
            <button class="btn btn-primary" type="submit"> Search </button>
        </form>
    </div>
    {% if park_data %}
    <h4>Results:</h4>
    <ul class="list-group">
        {% for item in park_data %}
        <li class="list-group-item"><h5>Name</h5><span>{{ item.name }}</span> <br>
            <h5>Description:</h5><span>{{ item.description }}</span> <br>
            <form action="/save" method="post">
                <label class="form-check-label">Include Weather?</label> <input class="form-check-input" name="include_weather_checkbox" type="checkbox">
                <input value="{{item.park_code}}" name="park_to_save" type="hidden">
                <button class="btn btn-sm btn-outline-primary" type="submit">Bookmark</button>

            </form>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {# include 'current_data.html' #}
</div>
{% endblock %}