{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Find a National Park and bookmark it!</h1>
</div>
<br>
  {% include 'carousel.html' %}
    <div class="mb-3">
        <form class="input-group bg-color-custom">
            <input placeholder="Search for a Park" class="form-control" type="text" id="search_query" name="search_query">
            <button class="btn btn-primary" type="submit"> Search </button>
        </form>
    </div>
    {% if data %}
    <h4>Results:</h4>
    <ul class="list-group">
        {% for item in data %}
        <li class="list-group-item">{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {# include 'current_data.html' #}
</div>
{% endblock %}